@import url('https://fonts.googleapis.com/css?family=Krub:400,600');

body {
	display: flex;
	align-items: center;
	justify-content: center;
}
@media (prefers-color-scheme: dark) {
	body {
		background-color: black;
		color: white;
	}
}

.container {
	font-family: "Krub";
}
